body {
  position: relative;
  /* 幅、高さをレスポンシブ対応 */
  width: 100%;
  height: 100%;
}

/* 各要素間の余白指定 */
h1, h3, table.field {
  margin: 5px 0px;

}

table.field {
    /* 線が二重にならない */
    border-collapse: collapse;
    /* 一番外側の枠線　solid:実線　*/
    border: 4px solid rgb(0 0 0);
    width: 500px;
    height: 500px;
    table-layout: fixed;
  }

/* フィールドのセル */
td.cell {
  /* 各セルの間の線 */
  border: 1px solid rgb(0 0 0);

  /* 幅、高さ指定*/
  width: 100%;
  height: 48px;
  padding: 0px;
  table-layout: fixed;
  /* セル内の要素を中央寄せ */
  text-align: center;
  vertical-align: top;
  font-size: 25px;
  /* 親要素 */
  position: relative;

}

/*-- メモ切り替え機能実装のための記述 --*/
/* 非表示 */
div.num, div.memo{
  width: 100%;
  height: 100%; 
  /* 子要素 */
  position: absolute;

  /* 透明にする*/
  opacity: 0;           

  /* マウスイベントをオフ */
  pointer-events: none; 
}

/* 表示 */
div.num.active, div.memo.active {

  /* 不透明にする */
  opacity: 1;           

  /* マウスイベントをオン */
  pointer-events: auto; 

}
/* ------------------------- */

/* メモ用テーブル */
table.memotable, table.numtable {
    /* 線が二重にならない */
    border-collapse: collapse;
    /* 幅を均等に*/
    width: 100%;
    height: 100%;
    padding: 0px;
    table-layout: fixed;
    margin: none;
}

/* メモのセル*/
td.memocell {

  /* セル内の要素を中央寄せ*/
  text-align: center;
  vertical-align: center;
  width: 14px;
  height: 14px;
  font-size: 10px;
  font-weight: bold;
  color: rgb(87 140 255);
}
/* num のセル */
td.numcell {

  /* セル内の要素を中央寄せ*/
  text-align: center;
  vertical-align: center;

  font-size: 24px;
  color: rgb(53 96 189);
  font-weight: bold;
}

/* 元々入力されている数字 */
td.numcell.fixed {
  color: rgb(0 0 0);
  font-weight: normal;
}


/* 間のやや太い線 */
td.cell:nth-of-type(3n){
  border-right: solid 2px;
}
tr.cell:nth-of-type(3n){
  border-bottom: solid 2px;
}


/* 全体的なレイアウト */

/* 共通設定 flex:要素を縦か横に並べる */
.vbox, .hbox1, .hbox2{
  display: flex;
}

.vbox {
  /* 要素を画面の中央寄せ */
  width: 498px;
  margin: 20px auto;

  /* 並べる向き指定 */
  flex-direction: column;

  z-index: 0;
}

.hbox1 {
  /* 並べる向き指定 */
  flex-direction: row;

  /* flex内で均等に並べる */
  justify-content: space-between;
}

.hbox2 {
  /* 並べる向き指定 */
  flex-direction: row;
}

/* ボタンのサイズ指定 */
.numbutton {
  margin: 5px 0px;
  width: 45px;
  height: 45px;
}

.optionbutton{
  margin: 5px 11px 0px 0px;
  width: 102px;
  height: 45px;
}

/* submitボタンだけ右寄せにする */
.submitbutton{
  margin: 5px 0px 0px auto;
  width: 102px;
  height: 45px;
}

/* ボタンの共通設定 */
.numbutton, .optionbutton, .submitbutton, button.difficulty{
  background-color: rgb(220 220 220);
  color: rgb(90 90 90);
  font-size: 20px;
  font-weight: bold;

  /* 枠線を消す */
  border: none; 

  /* クリックした際の枠線を消す */
  outline: none;
}

/* カーソルを置いたときのボタンの共通設定 */
.numbutton:hover, .optionbutton:hover, .submitbutton:hover, button.difficulty:hover{
  background-color: rgb(150 150 150);
  color: rgb(255 255 255);
  font-size: 20px;
  font-weight: bold;

  /* 枠線を消す */
  border: none;

  /* クリックした際に枠線を消す */
  outline: none;
}

/* クリックした時のボタンの共通設定 */
.numbutton:active, .optionbutton:active, .submitbutton:active, button.difficulty:active{
  background-color: rgb(100 100 100);
  color: rgb(255 255 255);
  font-size: 20px;
  font-weight: bold;

  /* 枠線を消す */
  border: none;

  /* クリックした際に枠線を消す */
  outline: none;
}

/* タイトル画面 */
.titlemenu {
  background: rgba(196, 246, 255, 0.9);
  width: 600px;
  height: 250px;
  position: absolute;

  
  /* 位置調整 */
  top: 0;
  right: 0;
  bottom: 70px;
  left: 0;
  margin: auto;
  padding: auto;
  z-index: 1;

  display: flex;

  /* 並べる向き指定 */
  flex-direction: column;

  /* flex内で均等に並べる */
  justify-content: space-evenly;
}

div.difficulty{
  
  display: flex;
   /* 並べる向き指定 */
   flex-direction: row;

   /* flex内で均等に並べる */
   justify-content: space-around; 
}


/* 難易度設定ボタン */
button.difficulty {
  width: 120px;
  height: 45px;
}

