<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
    <h3>Suudoku Generator</h3>
    <h4>Difficulty : --- </h4>

    <table> 
        <th:block th:each="i : ${#numbers.sequence(0,8)}">
        <tr>
            <td th:each="j : ${#numbers.sequence(0,8)}">b</td>
        </tr>
        </th:block>
    </table>

    <input th:each="i : ${#numbers.sequence(1,9)}" type="button" th:value="${i}" />
    <input type="button" value="MEMO" />
    <input type="button" value="DELETE" />


</body>
</html>