<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Suudoku Generator</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="vbox">
        <h1>Suudoku Generator</h1>
        <h3>Difficulty : --- </h3>
    
        <table class="field"> 
            <th:block th:each="i : ${#numbers.sequence(0,8)}">
            <tr>
                <td th:each="j : ${#numbers.sequence(0,8)}"></td>
            </tr>
            </th:block>
        </table>
        <div class="hbox1">
            <button th:each="i : ${#numbers.sequence(1,9)}" type="button" class="numbutton">[[${i}]]</button>
        </div>
        <div class="hbox2">
            <button type="button" class="optionbutton">MEMO</button>
            <button type="button" class="optionbutton">DELETE</button>
            <button type="button" class="submitbutton">SUBMIT</button>
        </div>
    </div>

<!--　scriptタグは上の要素が読み込まれた後に読み込むために、一番最後に書く -->
<script th:src="@{/js/script.js}"></script>
</body>
</html>